p {
font-size: 40px;
  color:black;
}
.dissapear {
  width: 100%;
  height: 100vh;
  background: #0055b3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dissapear h1 {
font-size: 40px;
  font-weight: 200;
  max-width: 800px;
}

 .profilepic {
height: 200px;
  border-radius: 15%;
 }
button {
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-color: #ccc; 
  color: white;
  text-align: center;
 font-size: 40px;
  line-height: 50px; 
  border: none;
  cursor: pointer; 
  outline: none; 
 border: 1px solid black;
}



.guess {
position: absolute;
right: 0;

}
